<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_SWKJLqWs1X8sbc9u2IK2MNOs"
    data-amount="999"
    data-name="Billetterie du Louvre"
    data-description="Paiement"
    data-image=""
    data-locale="auto"
    data-zip-code="true"
    data-currency="eur">
  </script>
</form>

<form id="myContainer" method="post" action="/checkout"></form>

<script>
window.paypalCheckoutReady = function() {
    paypal.checkout.setup('RNF4MTLFHWV7N', {
        environment: 'sandbox',
        container: 'myContainer'
    });
};
</script>
<script src="//www.paypalobjects.com/api/checkout.js" async></script>